<header id="main-header">
    <canvas id="squares" class="canvas-squares">Twoja przeglądarka nie obsługuje technologii - canvas</canvas>
    <div class="container">
        <div class="logo"></div>
        <div class="header-text">
            <h4>freelance</h4>
            <h1>creative<br /> full-stack<br /> developer</h1>
            <h5>creation x development</h5>
        </div>
        <div class="header-socials"></div>
    </div>
</header>
