<footer>
    <div class="container text-center">
        <ul class="footer-navbar">
            <li>
                <a href="#" class="link">Welcome</a>
            </li>
            <li>
                <a href="#" class="link">Portfolio</a>
            </li>
        </ul>
        <div class="footer-socials">
            <a href="#" class="link">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a href="#" class="link">
                <i class="fa fa-gitlab"></i>
            </a>
        </div>
        <div class="footer-text">
            <span>© 2018 Black Wolf. All Rights Reserved.</span>
            <br>
            <span>Site Designed and Developed By Mateusz Prendki.</span>
            <br>
            <span>Cookin' In Poznań, Poland.</span>
            <br>
        </div>
    </div>
</footer>