footer {
    background-color: #111;
    border-top: .1rem solid #333;
    padding:120px 0px;
    text-align: center;
    .footer-navbar {
        padding:0px;
        word-spacing:15px;
        li {
            display:inline-block;
            .link {
                transition: color .4s;
                color: #444;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    color:#aaa;
                }
            }
        }       
    }
    .footer-socials {
        font-size: 24px;
        line-height: 1.6;
        margin-bottom:1rem;
        word-spacing:10px;
        .link {
            transition: color .4s;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            color: #555;
            &:hover {
                color:#aaa;
            }
        }
    }
    .footer-text {
        font-size:13px;
        color:#444;
    }   
}