header {
    background-color:#212121;
    padding:120px;
    position:relative;
    .canvas-squares {
        position: absolute;
        top:0px;
        left:0px;
        z-index:0;
    }
    .container {
        position:relative;
        z-index:1;
    }
    h4 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 38px;
    }
    h1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 120px;
        line-height: 1;
    }
    h5 {
        color: #555;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 25px;
        letter-spacing: 9px;
    }
}