nav.navbar {
    margin-bottom: 0px;
    background-color: #111;
    border-bottom: 1px solid #333;
    padding: 15px 0px;
    text-align: center;
    border-radius: 0px;
    .navbar-brand {
        height:auto;
        padding:0px;
        img {
            width:90px;
        }
    }
    .nav {
        padding:20px 0px;
        li {
            a {
                color:#888;
                text-transform:uppercase;
                font-weight:800;
                transition:0.3s;
                &:hover {
                    background-color:transparent;
                    color:#fff;
                }
            }
        }
    }
}